<aside class="sidebar">
    <div class="logo">
        <img src="assets/Logistica1image.png" alt="Logo">
    </div>
    <button class="sidebar-button" (click)="abrirModalAdmin()">Nuevo Administrador</button>
    <button class="sidebar-button" (click)="abrirModalVehiculo()">Nuevo Vehículo</button>
    <button class="sidebar-button" (click)="abrirModalConductor()">Nuevo Conductor</button>
    <button class="sidebar-button" (click)="abrirModalPedido()">Nuevo Pedido</button>
</aside>

<header class="header">
    <div class="admin-name">
        {{ adminName }}
    </div>
</header>

<main class="main-content">
  <h1>Bienvenido!</h1>

  <h2>{{ pedidosPendientes.length }} pedidos pendientes</h2>

  <div class="orders-assign">
    <div class="orders">
      <h3>Pedidos en bodega:</h3>
      <div *ngFor="let pedido of pedidosPendientes" class="order-item">
        <p><strong># Pedido:</strong> {{ pedido.id }} - Dirección: {{ pedido.direccion }}</p>
        <p><strong>Localidad:</strong> {{ pedido.localidad }}</p>

        <label>Asignar conductor:</label>
        <select (change)="agregarAsignacion(pedido.id, obtenerValorSelect($event))">
          <option *ngFor="let conductor of conductores" [value]="conductor.cedula">
            {{ conductor.nombre }}
          </option>
        </select>
      </div>
    </div>
    <button class="assign-button" (click)="asignarConductores()">
      Asignar Conductores
    </button>
  </div>
</main>
