<aside class="sidebar">
    <button class="sidebar-button" (click)="abrirModalAdmin()">Nuevo Administrador</button>
    <button class="sidebar-button" (click)="abrirModalVehiculo()">Nuevo Vehículo</button>
    <button class="sidebar-button" (click)="abrirModalConductor()">Nuevo Conductor</button>
    <button class="sidebar-button" (click)="abrirModalPedido()">Nuevo Pedido</button>
</aside>

<header class="header">
    <div class="admin-name">
        {{ adminName }}
    </div>
</header>

<body>
  <main class="main-content">
    <h1>Bienvenido, {{ adminName }}!</h1>

    <!-- Contador de pedidos pendientes -->
    <h2>{{ pedidosPendientes.length }} pedidos pendientes</h2>

    <!-- Pedidos pendientes -->
    <div class="orders-assign">
      <h3>Pedidos en bodega:</h3>
      <div *ngFor="let pedido of pedidosPendientes" class="order-item">
        <p><strong># Pedido:</strong> {{ pedido.id }} - Dirección: {{ pedido.direccion }}</p>
        <p><strong>Localidad:</strong> {{ pedido.localidad }}</p>

        <label>Asignar conductor:</label>
        <select (change)="agregarAsignacion(pedido.id, obtenerValorSelect($event))">
          <option *ngFor="let conductor of conductores" [value]="conductor.cedula">
            {{ conductor.nombre }}
          </option>
        </select>
      </div>
      <button
        class="assign-button"
        [disabled]="asignaciones.length === 0"
        (click)="asignarConductores()">
        Asignar Conductores
      </button>
    </div>
  </main>

</body>
